<div class="table-container">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth ">
    <thead>
      <td style="flex: 1">#</td>
      <td style="flex: 2"></td>
      <td style="flex: 3">Name</td>
      <td style="flex: 20">Location</td>
      <td style="flex: 1">Caught?</td>
    </thead>
    <tbody style="">
      <% @checklist.listed_pokemons.each do |listed_pokemon| %>
        <tr style="background: <%= listed_pokemon.caught ? @caught_color : @not_caught_color %>">
          <td style="width: 25px">
            <div style="line-height:48px; height:48px; vertical-align:middle;">
             <%= "%03d" % listed_pokemon.pokemon.pokedex_number%>
            </div>
          </td>

          <td style="width: 60px"><img width="48" height="48" src="<%= listed_pokemon.pokemon.thumb %>" alt="<%= listed_pokemon.pokemon.name %>"></td>

          <td style="width: 100px">
            <div style="line-height:48px; height:48px; vertical-align:middle;">
              <%= link_to listed_pokemon.pokemon.name.capitalize, listed_pokemon.pokemon %>
            </div>
          </td>

          <td style=""></td>
          <td style="width: 25px"><input type="checkbox" name="<%= listed_pokemon.pokemon.name %>_check" id="<%= listed_pokemon.pokemon.name %>_check"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
