<div>
  <div class="columns title-bar" style="background-color:<%=@pokemon.color%>">

    <div class="column arrowBox">
      <%if @prev_pokemon%>
        <span class="title"><%= link_to "⬅", @prev_pokemon, class: 'arrows' %></span>
      <%end%>
    </div>

    <div class="column" style="text-align: center"><span style="color:white"class="title">#<%= @pokemon.pokedex_number %>: <%= @pokemon.name.capitalize %></span></div>

    <div class="column" style="text-align: right; color=white">
      <%if @next_pokemon%>
        <span class="title"><%= link_to "➡", @next_pokemon, class: 'arrows' %></span>
      <%end%>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third" style="background-color:<%=@pokemon.color%>;">
      <img width="300px" hight="300px" src="<%= @pokemon.img %>" alt="<%=  @pokemon.name %>" class="mt-5 mb-5" style="display:block; margin: auto">

      <div class="columns mb-5" style="width:300px; margin:auto">
        <div class="column extra" style="margin-right: 10px">Weight: <%=@pokemon.weight%>kg</div>
        <div class="column extra">Type: </div>
      </div>

      <table class="table is-fullwidth" style="border: 2px solid black">
        <thead>
          <tr>
            <td> <b> Base Stats</b></td>
            <td></td>
          </tr>
        </thead>

        <tr style="background-color:#EE5457;">
          <td>HP</td>
          <td class="stat-number"><%= @pokemon.stat.hp %></td>
        </tr>
        <tr style="background-color:#F5AC78;">
          <td>Attack</td>
          <td class="stat-number"><%= @pokemon.stat.attack %></td>
        </tr>
        <tr style="background-color:#FAE078;">
          <td>Defense</td>
          <td class="stat-number"><%= @pokemon.stat.defense %></td>
        </tr>
        <tr style="background-color:#9DB7F5;">
          <td>Special Attack</td>
          <td class="stat-number"><%= @pokemon.stat.special_attack %></td>
        </tr>
        <tr style="background-color:#A7DB8D;">
          <td>Special Defense</td>
          <td class="stat-number"><%= @pokemon.stat.special_defense %></td>
        </tr>
        <tr style="background-color:#F091B2;">
          <td>Speed</td>
          <td class="stat-number"><%= @pokemon.stat.speed %></td>
        </tr>
      </table>
    </div>

    <div class="column" style="padding:0">
      <p class="title is-4 p-3 title-bar" style="text-align:center; background-color:<%=@pokemon.color%>; border-top: 0px"> Pokedex Entry</p>
      <p style="text-align:center" class="mb-5"><%=@pokemon.description%></p>

      <p class="title is-4 p-3 title-bar" style="text-align:center; background-color:<%=@pokemon.color%>; border-top: 0px"> Locations</p>

      <div class="table-container p-5">
        <table class="table is-striped is-narrow is-hoverable is-fullwidth ">
          <thead>
            <td style="flex: 1">Name</td>
            <td>Method</td>
            <td>Encounter Rate</td>
          <tbody style="">
            <% @pokemon.encounters.each do |encounter| %>
              <tr >
                <td><%=link_to encounter.location.name.capitalize, encounter.location%></td>
                <td><%=encounter.method%></td>
                <td><%=encounter.chance%>%</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>