<!DOCTYPE html>
<html>
  <head>
    <title>Catch Em' All!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-fullwidth">
            <div style="width:75px"><%= image_tag "icon/pokeball.png"%></div>
          <div class="column is-one-third">
            <h1 class="title is-1" style="text-align:left"><a href="/">Catch em' All!</a></h1>
          </div>
          <div class="column">
            <h1 class="title is-3" style="text-align:center"><%=link_to "Pokemon", pokemons_path%></h1>
          </div>
          <div class="column">
            <h1 class="title is-3" style="text-align:center"><%=link_to "Locations", locations_path%></h1>
          </div>
          <div class="column">
            <h1 class="title is-3" style="text-align:center"><%=link_to "Types", types_path%></h1>
          </div>
          <div class="column">
            <h1 class="title is-3" style="text-align:center"><%=link_to "About", about_index_path%></h1>
          </div>
        </div>
        <%= yield %>
      <footer style="border-top: 1px solid grey; text-align:center">Created By: Geoff Hodgson | Sept 2020 | <a href="https://github.com/payne1134/CatchEmAll">Github</a></footer>
      </div>
    </section>
  </body>
</html>
